body {
    font-weight: lighter;
    color: #6D6868;
    background: rgba(255, 0, 0, 0.47);
    word-spacing: 2px;
    padding-top:30px;
}

/********NAV-TOP********/

.navbar {
    opacity: .8;
}
.logo-queenb {
    position: relative;
    bottom: 15px;
    width: 231px;
    height: 50px;
}
a.list {
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
}
ul li a:hover {
    border-bottom: 5px solid pink;
}
.nav-list {
    float: right;
}
.navbar-right {
    border: none;
}

/********INTRODUCTION********/

.section-introduction {
    position: relative;
    background: white;
}
.bg-intro {
    min-height: 411px;
    width: 100%;
    opacity: .9;
}
.intro-header1 {
    color: #151575;
    line-height: 1.2;
    letter-spacing: 0px;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.47);
}
.intro-header1 small {
    font-size: 13px;
    color: black;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(255, 226, 226, 0.46);
}
.introduction {
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
}

/********CLIENT-DETAIL********/

.section-about {
    background: rgba(226, 77, 77, 0);
    padding: 40px 0;
}
.client-img {
    margin-top: 50px;
    border: 2px solid pink;
}
.client-header {
    position: relative;
    left: 50px;
    font-family: 'Roboto Slab', serif;
    border-bottom: 2px dashed;
    padding-bottom: 10px;
    border-color: rgba(0, 0, 0, 0.1);
    width: 40%;
}
.client-para {
    font-family: sans-serif;
    font-weight: 100;
    padding-top: 50px;
    width: 75%;
    line-height: 30px;
}
.btn-readmore {
    margin-top: 20px;
    background: rgba(136, 105, 105, 0.67);
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    box-shadow: 0px 2px 14px 0px #463939;
}

/********FIXED-BACKGROUND-ATTACHED********/

.bg-opacity {
    background: white;
}
.bg-fixedimg {
    min-height: 600px;
    background: url(../img/fixedimg.jpg);
    background-size: cover;
    -moz-background-size: cover;
    background-position: 20%;
    opacity: .8;
    background-attachment: fixed;
}

/*****Services*****/

.section-services {
    background: white;
    padding-bottom: 140px;
    position: relative;
}
.services-header3 {
    font-family: sans-serif;
    border-bottom: 2px dashed;
    width: 22%;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 35px;
    padding-bottom: 20px;
}
.services-img {
    margin: auto;
    border: 27px dashed pink;
}
.services-header4 {
    border-bottom: 2px dotted;
    text-align: center;
    border-bottom-color: pink;
    width: 22%;
    margin: auto;
    color: #FF8BB1;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: lighter;
}
.services-para {
    padding-top: 30px;
    float: right;
    width: 80%;
    font-family: sans-serif;
}
.horizontal-line {
    border: 1px dashed pink;
    position: relative;
    top: 100px;
    width: 60%;
    margin: auto;
}
.services-col {
    z-index: 1;
}
p.button {
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
    text-align: center;
}
.btn-learnmore {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    box-shadow: 0px 2px 14px 0px #463939;
}

/********FIXED-BACKGROUND-ATTACHED********/

.bg-makeup {
    min-height: 600px;
    background: url(../img/image5.jpg);
    background-size: cover;
    -moz-background-size: cover;
    background-position: 20%;
    opacity: .9;
    background-attachment: fixed;
}

/********PORTFOLIO********/

.section-portfolio {
    background: rgba(255, 162, 25, 0.33);
}
.portfolio-header3 {
    font-family: sans-serif;
    border-bottom: 2px dashed;
    width: 47%;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 35px;
    padding-bottom: 20px;
}
div.item img {
    width: 100%;
}
.custom1::before {
    padding: 30px;
    border-radius: 10px;
    background: rgba(255, 165, 0, 0.5);
}
.custom2::before {
    position: relative;
    content: "\e080";
    padding: 30px;
    border-radius: 10px;
    right: 50px;
    background: rgba(255, 165, 0, 0.5);
}
.carousel-indicators li {
    background: orange;
    border: none;
}

/*****contact*****/

.contact-img {
    width: 100%;
}
.contact-row {
    border-top-color: 2px solid red;
    background: black;
    border-top-color: solid black;
    border: 1px solid rgb(255, 144, 99);
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-width: thick;
}
.contact-header {
    text-align: center;
    padding: 10px 0;
    font-family: 'lato';
    letter-spacing: 1px;
    font-size: 24px;
}
.contact-h4 {
    text-align: center;
    padding: 10px 0;
    font-family: 'lato';
    font-size: 17px;
}
.section-contact-col {
    padding-bottom: 20px;
    background: rgba(226, 77, 77, 0);
}

/*****form*****/

.form-row {
    background: white;
    padding: 50px 0;
}
.fa-facebook:before, .fa-twitter:before, .fa-instagram:before, .fa-youtube:before {
    color: #FFB7C4;
}
label {
    font-family: 'lato';
    font-weight: 100;
    color: #A5A5A5;
}
.btn-submit {
    color: #a5a5a5;
    background: #D6D6D6;
    font-family: sans-serif;
    font-weight: lighter;
}
ul.list-inline {
    padding-top: 30px;
}

/*****About-me page2*****/

.bg-aboutmerow {
    background: rgb(230, 230, 230);
    position: relative;
}
.bg-aboutme {
    width: 100%;
    min-height: 380px;
    position: relative;
}
.aboutme-header {
    color: pink;
}
.section-aboutme-col {
    position: absolute;
    top: 200px;
    text-align: center;
}
.img-6 {
    border: 1px dotted #8C6F6F;
}
.img-6-col {
    padding-top: 15px;
}
.aboutme-h4 {
    font-size: 15px;
    font-weight: lighter;
    font-family: sans-serif;
    color: rgba(148, 148, 148, 0.78);
}
.aboutme-para {
    line-height: 35px;
    font-size: 15px;
    font-family: sans-serif;
    word-spacing: 1px;
    padding-top: 30px;
}

/*****Services page3*****/

.bg-servicesrow {
    background: rgb(230, 230, 230);
    position: relative;
}
.bg-services {
    width: 100%;
    min-height: 380px;
    position: relative;
}
.services-header {
    color: pink;
}
.section-services-col {
    position: absolute;
    top: 200px;
    text-align: center;
}
.services-h4 {
    font-size: 15px;
    font-weight: lighter;
    font-family: sans-serif;
    color: rgba(148, 148, 148, 0.78);
}
.section-servicespage {
    position: relative;
    background: white;
}
.services-para3 {
    font-family: sans-serif;
    font-weight: lighter;
}
ul.servicesnetwork {
    padding-top: 0;
}
.services-page-col {
    padding-bottom: 100px;
}

/*****contact-me page2*****/

.bg-contactme {
    width: 100%;
    min-height: 380px;
    position: relative;
}
.contact-page-header {
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 24px;
    position: relative;
    color: white;
    bottom: 100px;
    background: rgba(90, 90, 90, 0.67);
    padding: 50px 0;
}
.contact-page-h4 {
    text-align: center;
    position: relative;
    font-size: 17px;
    bottom: 47px;
    font-family: sans-serif;
    font-weight: lighter;
}
@media screen and (max-width: 768px) {
    .nav-list {
        float: none;
    }
    .navbar {
        opacity: 3;
    }
    ul li a:hover {
        border: none;
        background: silver;
    }
    .client-para {
        width: 100%;
    }
    .client-header {
        position: static;
    }
    .horizontal-line {
        display: none;
    }
    .custom1::before, .custom2::before {
        padding: 15px;
        position: static;
    }
    /**About-me-page2**/
    .section-aboutme-col {
        position: absolute;
        top: 100px;
    }
    .aboutme-h4 {
        font-size: 14px;
    }
}
